# Cổng HTTP của gateway.
PORT=3000
# URL gốc dịch vụ xác thực.
SERVICE_URL_AUTH=http://localhost:3004
# URL gốc dịch vụ sinh viên.
SERVICE_URL_SINHVIEN=http://localhost:3001
# URL gốc dịch vụ đề tài.
SERVICE_URL_DETAI=http://localhost:3002
# URL gốc dịch vụ đăng ký.
SERVICE_URL_DANGKY=http://localhost:3003
